<button class="btn btn-social btn-facebook" onclick="facebookLogin()">Facebook</button>
<script>
  function facebookLogin() {
    var FB = window.FB;

    FB.login(function(response) {
      if (response.status === 'connected') {
        var queryStr = window.location.search.replace('?', '');
        if (queryStr) {
          window.location.replace('{{ config['stormpath']['web']['social']['facebook']['login_url'] }}?' + queryStr);
        } else {
          window.location.replace('{{ config['stormpath']['web']['social']['facebook']['login_url'] }}');
        }
      }
    }, {scope: 'email{% if config["stormpath"]["web"]["social"]["facebook"].get("scopes") %},{{ ",".join(config["stormpath"]["web"]["social"]["facebook"]["scopes"]) }}{% endif %}'});
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{{ config['stormpath']['web']['social']['facebook']['clientId'] }}',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.0'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
