<button class="btn btn-social btn-google" onclick="googleLogin()">Google</button>
<script>
  function googleLogin() {
    window.location.replace('https://accounts.google.com/o/oauth2/auth?response_type=code&client_id={{ config['stormpath']['web']['social']['google']['clientId'] }}{% if config["stormpath"]["web"]["social"]["google"].get("hd") %}&hd={{ config['stormpath']['web']['social']['google']['hd'] }}{% endif %}&scope=email+profile{% if config["stormpath"]["web"]["social"]["google"].get("scopes") %}+{{ "+".join(config["stormpath"]["web"]["social"]["google"]["scopes"]) }}{% endif %}&include_granted_scopes=true&redirect_uri={{ (request.url_root[:-1] + config['stormpath']['web']['social']['google']['login_url'])|urlencode }}');
  }
</script>
